$default-background-color: white;
$secondary-color: rgb(248, 163, 15);

body {
    background-color: $default-background-color;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
};

.book-tracker-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: min-content;
};

.goals {
    width: 100%;
};

.book-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.book-item {
    padding-left: 5%;
    padding: 1rem;

    border: 1px;
    border-style: solid;
    border-radius: 15px;
}

.book-progress, .goal-progress {
    color: $secondary-color;
}

.filters {
    display: flex;
    gap: 1rem;

    width: 100%;
    height: 1.5rem;

    border: 2px;
    border-style: solid;
    border-color: $secondary-color;
    border-radius: 5px;
    
    margin: 1rem;
    align-items: center;
    justify-content: center;
}