$default-color: rgb(247, 236, 210);

.book-tracker-body {
    background-color: $default-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 60vh;
    width: auto;
};

.goals {
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    
    padding: 5%;
    margin-bottom: 5%;
    width: 100%;
};

.book-list {
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;

    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

    width: 100%;

}